-i https://pypi.org/simple
atomicwrites==1.2.1; python_version != '3.2.*'
attrs==18.2.0
mock==2.0.0
more-itertools==4.3.0
pbr==4.2.0
pluggy==0.7.1; python_version != '3.2.*'
py==1.6.0; python_version != '3.2.*'
pytest==3.8.0
six==1.11.0
